.col-page {
	padding-top: 30px;
	
	.row {
		padding: 30px 0;
	}
	
	p {
		margin: 0;
		padding: 0;
		line-height: 24px;
		
		strong {
			font-weight: normal;
			font-family: $font-heading;
		}
	}
	
	.col-4,
	.col-6 {
		text-align: center;
		padding: 30px 25px;
		position: relative;
		padding-bottom: 80px;
		
		h3 {
			display: block;
			font-size: 28px;
			font-family: $font-heading;
			margin: 30px 0 20px;
			height: 40px;
			
			html.medium-less & {
				height: auto;
			}
		}
		
		ul {
			margin: 0;
			display: inline-block;
			
			li {
				text-align: left;
				position: relative;
			}
		}
		
		a.btn {
			@include btn-primary;
			width: 240px;
			margin: 35px auto 0;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -120px;
			
			html.medium-less & {
				margin-top: 0;
				position: static;
				margin: auto;
				width: auto;
			}
		}
	}
	
	.col-4 {
		&:nth-child(2) {
			position: relative;
			
			html.medium-more & {

				&:before {
					content: "";
					width: 2px;
					height: 100%;
					background: #f4f4f4;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					margin: auto 0;
				}

				&:after {
					content: "";
					width: 2px;
					height: 100%;
					background: #f4f4f4;
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					margin: auto 0;
				}
			}
		}
	}
	
	.col-6 {
		//margin-bottom: 50px;
		position: relative;
		padding: 90px 50px;
		
		html.medium-less & {
			padding: 30px 0;
		}
		
		html.medium-more & {

			&:nth-child(2n) {
				&:before {
					content: "";
					width: 2px;
					height: 80%;
					background: #f4f4f4;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					margin: auto 0;
				}
			}

			&:after {
				content: "";
				width: 80%;
				height: 2px;
				background: #f4f4f4;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}
		
		&:nth-child(1),
		&:nth-child(2) {
			&:after {
				display: none;
			}
		}
		
		a.btn {
			bottom: 30px;
			
			html.medium-less & {
				bottom: 0;
			}
		}
	}
	
	.notice {
		margin: 30px 0;
	}
	
	@at-root
	.vop,
	.col-page .vop {
		margin-bottom: 20px;
		
		html.medium-less & {
			text-align: center;
		}
	}
	
	h3 {
		font-family: $font-heading;
		font-size: 28px !important;
	}
}

.col-page-detail {
	padding-top: 30px;
	
	> *:first-child {
		margin-top: 0;
	}
	
	h3 {
		font-family: $font-heading;
		font-size: 28px !important;
	}
	
	.row {
		padding: 50px 0;
		
		html.medium-less & {
			padding: 0;
		}
	}
	
	p {
		//margin: 0;
		padding: 0;
		line-height: 24px;
	}
	
	.col-4 {
		text-align: center;
		
		&:nth-child(2) {
			position: relative;
			
			html.medium-more & {

				&:before {
					content: "";
					width: 2px;
					height: 100%;
					background: #f4f4f4;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					margin: auto 0;
				}

				&:after {
					content: "";
					width: 2px;
					height: 100%;
					background: #f4f4f4;
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					margin: auto 0;
				}
			}
		}
	}
	
	.col-6 {
		//margin-bottom: 50px;
		position: relative;
		
		html.medium-more & {
			padding: 50px;
		}
		
		&.email:before {
			content: none !important;
		}
		
		h3 {
			font-size: 1.5em;
		}
		
		p {
			margin: 0;
			padding: 0;
			line-height: 24px;
		}
		
		html.medium-more & {
		
			&:nth-child(2n) {
				&:before {
					content: "";
					width: 2px;
					background: #f4f4f4;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
				}
			}

			&:after {
				content: "";
				width: 80%;
				height: 2px;
				background: #f4f4f4;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			}
		}
		
		&:nth-child(1),
		&:nth-child(2) {
			&:after {
				display: none;
			}
		}
	}
	
	.notice {
		margin: 30px 0;
	}
	
	.sample,
	.template {
		display: none;
		padding: 25px 0 25px 70px !important
	}
	
	.sample {
		background: url(../images/kupa-a-rezervacia/telefon_rezervacia.svg) left center no-repeat;
	}
	
	.template {
		background: url(../images/kupa-a-rezervacia/email_rezervacia.svg) left center no-repeat;
	}
	
	.open-hours {
		span {
			margin-right: 5px;
		}
	}
}

.reservation-and-buying {
	
	.row {
		padding: 50px 0;
	}
	
	.col-4 {
		text-align: center;
		
		h3 {
			display: block;
			font-size: 28px;
			font-family: $font-heading;
			margin: 30px 0 40px;
		}
		
		ul {
			margin: 0;
			display: inline-block;
			
			li {
				text-align: left;
				position: relative;
			}
		}
		
		a {
			@include btn-primary;
			max-width: 240px;
			margin: 30px auto 0;
		}
	}
}

.ztp-phone {
	
	h3 {
		font-family: $font-heading;
		font-size: 28px !important;
		margin-top: 0;
		margin-bottom: 15px;
	}
	
	.notice {
		margin: 0 0 60px;
	}
	
	.col-6 {
		padding-top: 20px;
		padding-bottom: 20px;
		
		&:first-child {
			padding-left: 0;
		}
	}
}

//
// TICKET PURCHASE & RESERVATION
//

// ticket reservation
.reservation {
	
	.row {
		
		.col-6 {
			text-align: center;
			
			a {
				@include btn-primary;
				max-width: 300px;
			}
			
			p {
				margin: 10px 0 0;
			}
		}
	}
	
	a {
		color: #4A90E2;
		text-decoration: underline;
	}
}

// reservation personally
.personally {
	
	.row {
		padding-top: 70px;
		
		html.medium-less & {
			padding-top: 20px;
		}
		
		p {
			margin: 0;
		}
	}
	
	.col-6 {
		padding: 15px 110px 0;
		
		html.medium-less & {
			padding: 0;
		}
		
		h3 {
			margin: 0 0 20px;
			padding: 12px 0 10px 80px;
			font-family: $font-heading;
		}
		
		&:first-child {
			padding-left: 0;
			
			h3 {
				background: url(../images/program/nova-budova.svg) left center no-repeat;
			}
		}
		
		&:last-child {
	
			h3 {
				background: url(../images/program/stara-budova.svg) left center no-repeat;
			}
		}
		
		.small {
			font-size: 12px;
			font-style: italic;
			margin: 20px 0;
		}
		
		br {
			line-height: 1;
		}
	}
	
	h3 {
		font-size: 28px;
		font-family: $font-heading;
		margin-top: 0;
	}
	
	.notice {
		margin-top: 30px;
	}
}

.immobile-personally {
	@extend .personally;
}

.basic-personally {
	@extend .personally;
}

.zus {
	@extend .personally;
	
	.col-6:nth-child(2) {

		html.medium-less & {
			padding-bottom: 3pxx !important;
		}
	}
}

.ztp-cash {
	@extend .personally;
}

.bulk-personally {
	@extend .personally;
}

.immobile-phone {
	
	.col-6 {
		padding-top: 20px;
		padding-bottom: 20px;
		
		&:first-child {
			padding-left: 0;
		}
		
		&.phone,
		&.email {
			padding-top: 0;
			padding-bottom: 0;
		}
		
		h3 {
			margin: 0 0 10px;
		}
	}
}

.basic-phone {
	@extend .immobile-phone;
}

.seniors-phone {
	@extend .immobile-phone;
	
	.col-4 {
		
		&:before,
		&:after {
			content: none !important;
		}
	}
}

.ztp-phone {
	@extend .immobile-phone;
}

.bulk-phone {
	@extend .immobile-phone;
}

// phone reservation
.phone-reservation {
	
	span {
		font-family: $font-heading;
	}
	
	.col-6 {
		padding-top: 20px;
		padding-bottom: 20px;
		
		html.medium-less & {
			padding: 0;
		}
		
		&:first-child {
			padding-left: 0 !important;
		}
		
		&.email {
			
			html.medium-more & {
			
				&:before {
					content: "" !important;
					width: 2px;
					height: 100%;
					background: #f4f4f4;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					margin: auto 0;
				}
			}
		}
		
		h3 {
			margin-bottom: 0;
		}
		
		p:first-child {
			font-size: 25px;
		}
	}
	
	a {
		color: #4A90E2;
		text-decoration: underline;
	}
}

// online reservation
.online-reservation {
	@extend .reservation;
	
	.row {
		padding-top: 0;
		
		.col-6 {
			padding-top: 50px;
			
			p {
				margin: 20px 0 35px;
			}
		}
	}
}

.basic-online {
	@extend .online-reservation;
}

.bulk-orders {
	
	.row {
		padding: 0;
	}
	
	table {
		text-align: center;
	}
	
	h3 {
		font-size: 28px;
		font-family: $font-heading;
	}
	
	.col-6 {
		padding-top: 40px;
	}
}

// family ticket
.family-ticket {
	
	.row {
		padding: 0;
	}
	
	.col-6 {
		padding-top: 65px;
		
		p img {
			margin-top: 40px;
		}
	}
	
	ol {
		li {
			margin: 20px 0;
		}
	}
	
	h3 {
		font-size: 28px;
		font-family: $font-heading;
		margin-bottom: 0;
	}
	
	.steps {
		@include legacy-pie-clearfix;
		margin: 50px 0;
		
		> div {
			float: left;
			text-align: center;
			padding: 22px 50px 12px;
			
			html.medium-less & {
				float: none;
				width: 100%;
				border-bottom: 2px solid #f4f4f4;
				padding-top: 30px;
				padding-bottom: 30px;
			}
			
			.big {
				font-family: $font-heading;
				font-size: 60px;
				color: #d5d5d5;
				line-height: 1;
			}
			
			.title {
				@extend .big;
				font-size: 28px;
				margin-bottom: 10px;
			}
		}
		
		.first {
			width: 27.5%;
		}
		
		.second {
			width: 45%;
			
			html.medium-more & {
				border-left: 2px solid #f4f4f4;
				border-right: 2px solid #f4f4f4;
			}
		}
		
		.third {
			width: 27.5%;
		}
	}
}

// ztp kupa online
.ztp-online {
	@extend .family-ticket;
	
	> p {
		margin: 20px 0;
	}
	
	.steps {
		@include legacy-pie-clearfix;
		margin: 50px 0;
		
		> div {
			float: left;
			text-align: center;
			padding: 22px 50px 12px;
			
			.big {
				font-family: $font-heading;
				font-size: 60px;
				color: #d5d5d5;
				line-height: 1;
			}
			
			.title {
				@extend .big;
				font-size: 28px;
				margin-bottom: 10px;
			}
		}
		
		.first {
			width: 27.5%;
		}
		
		.second {
			width: 45%;
			
			html.medium-more & {
				border-left: 2px solid #f4f4f4;
				border-right: 2px solid #f4f4f4;
			}
		}
		
		.third {
			width: 27.5%;
		}
	}
	
	.notice {
		margin-bottom: 80px;
	}
}

// pre firmy
.tickets-companies {
	@extend .family-ticket;
	
	.col-6 {
		padding: 10px 120px 30px;
		
		&:first-child {
			padding-left: 0;
		}
		
		h3 {
			margin: 0 0 30px;
		}
	}
}

// immobile customers
.immobile:not(.col-6) {
	@extend .reservation;
	
	h3 {
		font-size: 28px;
		font-family: $font-heading;
		margin-bottom: 0;
	}
	
	.row {
		padding: 0;
	}
	
	.buildings {
		@include list-reset;
		padding: 5px 0 10px !important;
	}
}

.seniors {
	
	.clearfix {

		.col-4 {
			padding: 0;

			&:before,
			&:after {
				content: none !important;
			}
		}
	}
	
	.col-4 {
		padding-left: 50px;
		padding-right: 50px;
	}
}

// dochodcovia na pokladniciach
.seniors-cash {
	@extend .personally;
	
	.col-4 {
		text-align: center;
		
		&:before,
		&:after {
			content: none !important; 
		}
	}
	
	.notice p:not(:last-child) {
		margin: 0 0 20px;
	}
	
	@at-root
	.cinohra-zlava,
	.balet-zlava,
	.opera-zlava {
		width: 385px;
		height: 155px;
		background-repeat: no-repeat;
		margin: 20px 0;
		max-width: 100%;
		background-size: contain;
		
		html.medium-less & {
			margin: 10px auto !important;
		}
		
		html.x-small-less & {
			height: 120px;
			background-position: center;
		}
	}
	
	@at-root
	.cinohra-zlava {
		background-image: url(../images/zlavy/cinohra_zlava.svg);
		margin-right: auto;
	}
	
	@at-root
	.opera-zlava {
		background-image: url(../images/zlavy/opera_zlava.svg);
		margin-right: auto;
		margin-left: auto;
	}
	
	@at-root
	.balet-zlava {
		background-image: url(../images/zlavy/balet_zlava.svg);
		margin-left: auto;
	}
}

// dochodcovia online 
.seniors-online {
	@extend .family-ticket;
	@extend .seniors-cash;
	
	.steps {
		@include legacy-pie-clearfix;
		margin: 50px 0;
		
		> div {
			float: left;
			text-align: center;
			padding: 22px 50px 12px;
			
			.big {
				font-family: $font-heading;
				font-size: 60px;
				color: #d5d5d5;
				line-height: 1;
			}
			
			.title {
				@extend .big;
				font-size: 28px;
				margin-bottom: 10px;
			}
		}
		
		.first {
			width: 27.5%;
		}
		
		.second {
			width: 45%;
			
			html.medium-more & {
				border-left: 2px solid #f4f4f4;
				border-right: 2px solid #f4f4f4;
			}
		}
		
		.third {
			width: 27.5%;
		}
	}
	
	.col-6 {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 90px;
		
		&:nth-child(2) {
			html.medium-less & {
				padding-top: 40px;
				padding-bottom: 40px;
			}
		}
		
		h3 {
			background: transparent !important;
			padding-left: 0;
		}
	}
	
	> h3 {
		margin-top: 70px;
	}
}

// usmernenie
.im-historical-entry {
	
	h4,
	h3 {
		font-size: 20px;
		font-family: $font-heading;
	}
	
	img {
		display: block;
		margin: 0 auto;
		width: 700px;
	}
	
	ul {
		@include list-reset;
	}
}

.im-new-entry {
	@extend .im-historical-entry;
}

// ticket purchase
.purchase {

}

// Suggestions and Complaints webform
//#block-webform-client-block-169 {
	//max-width: 650px;
	//
	//.webform-container-inline,
	//.webform-component-textarea {
		//@include legacy-pie-clearfix();
		//
		//label {
			//width: 35%;
			//display: inline-block;
			//float: left;
			//margin-right: 0;
			//line-height: 50px;
		//}
		//
		//input,
		//.form-textarea-wrapper {
			//width: 65%;
			//float: left;
		//}
	//}
	//
//}

#block-views-news-homepage-block {
	background: #fff;
	color: #000;
	padding-bottom: 20px;
	
	html.medium-more & {
		@include snap-to-left;
	}
	
	h2 {
		margin: 0;
		padding: 0;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #000;
		padding: 27px;
		font-family: $font-heading;
	}
	
	
	.content {
		.view-content {
			.views-row {
				@include legacy-pie-clearfix();
				position: relative;
				
				&:hover {
					html.no-touch & {
						.views-field-field-featured-image {
							img {
								transform: scale(1.2) rotate(0);
							}
						}
					}
				}
				
				&.views-row-even {
					.views-field-field-featured-image {
						
						html.large-more &,
						html.small & {
							float: right;
						}
					}
				}
				
				.views-field-field-featured-image {
					height: 100%;
					overflow: hidden;
					max-height: 260px;
					
					html.large-more &,
					html.small & {
						width: 50%;
						float: left;
					}

					html.medium &,
					html.small-less & {
						height: 200px;
						overflow: hidden;
						position: relative;
					}
					
					img {
						display: block;
						transition: 0.8s cubic-bezier(0.445, 0.05, 0.355, 1);
						
						html.small-less & {
							position: absolute;
							top: -9999px;
							bottom: -9999px;
							left: -9999px;
							right: -9999px;
							margin: auto;
							max-width: none;
							min-width: 100%;
							min-height: 100%;
							width: auto;
							height: auto;
						}
					}
				}
				
				.news-wrap {
					padding: 40px 35px 0;
					
					html.large-more &,
					html.small & {
						width: 50%;
						float: left;
					}
					
					html.medium &,
					html.small-less & {
						padding: 20px;
					}
					
					.views-field-title-field {
						margin-bottom: 10px;
						
						a {
							font-size: 24px;
							font-family: $font-heading;
							line-height: 1.1;
							color: #000;
							text-decoration: none;
							display: -webkit-box;
							-webkit-line-clamp: 3;
							-webkit-box-orient: vertical; 
							max-height: 75px;
							overflow: hidden;
							
							&:after {
								content: "";
								width: 100%;
								height: 100%;
								position: absolute;
								left: 0;
								top: 0;
							}
						}
					}
					
					.views-field-body {
						p {
							margin: 0;
							padding: 0;
							display: -webkit-box;
							-webkit-line-clamp: 3;
							-webkit-box-orient: vertical;
							overflow: hidden;
							max-height: 69px;
							
							html.large & {
								-webkit-line-clamp: 2;
							}
						}
					}
				}
			}
		}
		
		.view-footer {
			text-align: center;
			margin-top: 20px;
			
			p {
				margin: 0;
				padding: 0;
			}
			
			a.more-link {
				display: inline-block;
				border: 2px solid #e0e0e0;
				border-radius: 4px;
				color: #979797;
				text-decoration: none;
				padding: 15px 50px 13px;
				display: none;
				transition: .3s ease-in-out;
				
				&:hover {
					html.no-touch & {
						background: #A7A9AC;
						border-color: #A7A9AC;
						color: #fff;
					}
				}
				
				&.sk {
					body.i18n-sk & {
						display: inline-block;
					}
				}
				
				&.en {
					body.i18n-en & {
						display: inline-block;
					}
				}
				
				&.de {
					body.i18n-de & {
						display: inline-block;
					}
				}
				
			}
		}
	}
}

.cookie-bar {
	position: fixed;
	bottom: 0;
	background: rgb(247, 247, 247);
	left: 80px;
	right: 0;
	z-index: 999999;
	display: none;
	padding: 0 30px;
	border-top: 1px solid rgba(151, 151, 151, 0.4);
	
	html.medium-less & {
		height: auto;
	}
	
	html.small-less & {
		left: 0;
	}
	
	.wrapper {
		max-width: 1160px;
		margin: 0 auto;
		
		html.medium-less & {
			padding: 0 20px;
			text-align: center;
		}
		
		p {
			font-size: 14px;
			margin: 0;
			padding: 0;
			line-height: 60px;
			
			html.medium-less & {
				line-height: 18px;
				margin: 20px 0;
			}
		}

		#agree-with-cookies {
			@include btn-primary;
			width: 215px;
			float: right;
			line-height: 1;
			margin-top: 10px;
			
			html.medium-less & {
				float: none;
				display: block;
				margin: 20px auto;
			}
		}
	}
}

