
.float-left {
	float: left;
}

.clear-left {
	clear: left;
}

.after-date-float-left {
	float: left;
    margin-top: 2.05em;
}

.after-date-float-left input.form-text {
	width: 34.45em;	
}

.inline-form-items .form-item,
.standard-width .form-item {
	display: inline-block;
	margin-right: 1em !important;
}


div.multilang-text {
	margin-bottom: -0.5em;
}

.multilang-text .multi-wrapper {
	display: inline-block;
}


.multilang-text input.form-text,
.multilang-text textarea.form-textarea {
	position: relative;
	clear: both;
	z-index: 1;
	
}

.multilang-text .description {
}

.multilang-text .input-wrap {
	margin-bottom: 0.5em;
}

.lang-tabs {
	float: right;
	height: 0;
}

.lang-label {
	display: inline-block;
	vertical-align: top;
	margin-right: 0.2em;
	padding: 0.1em 0.5em 0em 0.5em;
	line-height: 1.45em;
	height: 1.65em;
	position: relative;
	z-index: 0;
	top: 0.0em;
	cursor: pointer;
	border-radius: 0.4em 0.4em 0 0;
	border: 1px solid #BBB;
	border-bottom: 0;
	box-sizing: border-box;
	color: #BBB;
    background-color: #D5D5D5;
}

.lang-label-all {
	background-color: #EEE;
	overflow: hidden;
	width: 2em;
	text-indent: -10em;
	position: relative;
}

.lang-label-all:before,
.lang-label-all:after {
	content: '';	
	position: absolute;
	width: 50%;
	left: 25%;
	height: 21%;
	top: 30%;
	border: 2px solid #AAA;
	border-left: 0;
	border-right: 0;
}

.lang-label-all:after {	
	top: 45.5%;
	border-bottom: 0;
}

.lang-label.has-value {
	color: #444;
    background-color: #EEE;
	border-top: 3px solid #888;
	/*top: -0.05em;*/
	padding-top: 0;
}

.lang-label-all.has-value {
	border-top: 3px solid #BBB;
	background-color: #EEE;
	height: 1.7em;
}

.lang-label.error {
	border-color: red;
	border-width: 2px;
	border-bottom: 0;
	color: red;
}

.lang-label.selected {
	background-color: #FFF;
	z-index: 2;
}


/* --- start of widget-multilang-preview -------------------------------------- */

.widget-multilang-preview {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 1em;
}

.widget-multilang-preview .empty {
	color: #AAA;
	/*text-transform: uppercase;*/
	font-style: italic;
	font-size: 1.25em;
}

.widget-multilang-preview .lang {
    color: #0074BD;
	display: inline-block;
}

.widget-multilang-preview.count-1 .lang {
	width: 5em;
}

.widget-multilang-preview.count-2 .lang {
	width: 3.4em;
}

.widget-multilang-preview.count-3 .lang {
	width: 1.8em;
}


.widget-multilang-preview .value {
	font-weight: bold;
	font-size: 1.25em;
}

/* --- end of widget-multilang-preview -------------------------------------- */



.list-item-no-position {
	color: #888;
}

.add-ui-selects {
	display: inline-block;
}

.list-item-delete {
	margin-left: 0.5em;
}

.add-ui-button {
	margin-left: 0.5em;
}

/*.widget-pozicie-list-item-delete {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
	margin-left: 1em;
}*/
