.display-none-important {
	display: none !important;
}

.display-inline-block-important {
	display: inline-block !important;
}

.plupload_remove {
	background: transparent url(../demo/images/delete.gif) no-repeat 0 center !important;
	padding-left: 20px !important;
}