/* $Id$ */

.view-admin-content-comment .views-exposed-form .form-text,
.view-admin-content-node .views-exposed-form .form-text,
.view-admin-content-taxonomy .views-exposed-form .form-text,
.view-admin-user-user .views-exposed-form .form-text {
  width: 10em;
}

.view-admin-content-comment .views-exposed-form .description,
.view-admin-content-node .views-exposed-form .description,
.view-admin-content-taxonomy .views-exposed-form .description,
.view-admin-user-user .views-exposed-form .description {
  display: none;
}

.view-admin-content-comment #views-bulk-operations-dropdown .form-item,
.view-admin-content-node #views-bulk-operations-dropdown .form-item,
.view-admin-content-taxonomy #views-bulk-operations-dropdown .form-item,
.view-admin-user-user #views-bulk-operations-dropdown .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
