
.vs-actions {
	font-size: 1.5em;
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
}

.vs-actions  a {
	background-color: #EEE;
	display: inline-block;
	padding: 0.1em 0.25em;
	margin-top: 0.25em;
	margin-left: 0.25em;
	font-weight: bold;
	min-width: 1em;
	text-align: center;
}

.vs-actions  a:hover {
	text-decoration: none;
	background-color: #DDD;
}

td.role {
	white-space: nowrap;
	vertical-align: top;
	padding-top: 1.4em;
}

.person {
    display: inline-block;
	background-color: #FFF;
	border: 1px solid #DDD;
	padding-left: 0.5em;
	white-space: nowrap;
	margin-right: 0.75em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	font-weight: bold;
}

.person .vs-actions  a {
	margin-left: 0;
	margin-top: 0;
}

/* removed person (in performance) */
.person.removed .vs-actions  a {
	color: #A00;
	background-color: #EAA;
}
.person.removed {
	color: #800;
	background-color: #FDD;
}

/* in performance - cannot remove line and change order */
.performance-version td.vs-actions,
.performance-version .vs-actions a.left {
	display: none;
}

.widget-person-vs-role tr:first-child .up,
.person:first-child .left {
	display: none;
}

.widget-person-vs-role .list {
	background-color: #F9F9F9;
}

.form-item-production-values, 
.form-item-starring-values {
	display: none !important;
}